# Versioning and metadata
.git
.gitignore
.dockerignore

# Dependencies
node_modules

# Build output
dist

# Environment (contains sensitive data)
.env

# Logs
logs
*.log

# System files
.DS_Store
Thumbs.db

npm-debug.log
Dockerfile
README.md
.env.example
coverage 